version: "3.8"
services:
  xmrig:
    image: xmrig/xmrig:latest
    container_name: xmrig
    restart: unless-stopped
    network_mode: host
    privileged: true
    command: 
      - "--url=pool.supportxmr.com:443"
      - "--user=YOUR_MONERO_WALLET_ADDRESS"
      - "--pass=x"
      - "--donate-level=1"
      - "--coin=monero"
